<form class="form" action="/orders" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="newOrderClientName">Client Name</label>
      <input type="text" class="form-control" id="newOrderClientName" aria-describedby="emailHelp" placeholder="Enter client name">
    </div>
    <div class="form-group col-md-6">
      <label for="newOrderClientPhoneNumber">Client Phone Number</label>
      <input type="text" class="form-control" id="newOrderClientPhoneNumber" placeholder="Enter client phone number">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="newOrderClientAddress">Client Address</label>
      <input type="email" class="form-control" id="newOrderClientAddress" placeholder="Enter address">
    </div>
    <div class="form-group col-md-6">
      <label for="newOrderClientEmail">Client Email</label>
      <input type="email" class="form-control" id="newOrderClientEmail" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  </div>

  <div class="form-row">
    <label for="newOrderItems">Add Order Items</label>
    <table id="newOrderItemTable" class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Product Name</th>
          <th scope="col">Type</th>
          <th scope="col">Color</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Amount</th>
          <th scope="col">Note</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            <input type="text" class="form-control">
          </td>
          <td>
            <input type="text" class="form-control">
          </td>
          <td>
            <input type="text" class="form-control">
          </td>
          <td>
            <input type="text" class="form-control">
          </td>
          <td>
            <input type="text" class="form-control">
          </td>
          <td>
            <input type="text" class="form-control">
          </td>
          <td>
            <button id="deleteNewOrderItemRowButton" class="btn btn-primary">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button id="addNewOrderItemRowButton" onclick="addNewOrderItemRow" class="btn btn-primary">Add new order item</button>
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
