<form class="form" action="/users" method="POST">
  <div class="form-group">
    <label for="newOrderClientName">Client Name</label>
    <input type="text" class="form-control" id="newOrderClientName" name="name" aria-describedby="emailHelp" placeholder="Enter client name">
  </div>
  <div class="form-group">
    <label for="newOrderClientPhoneNumber">Client Phone Number</label>
    <input type="text" class="form-control" id="newOrderClientPhoneNumber" name="phone" placeholder="Enter client phone number">
  </div>
  <div class="form-group">
    <label for="newOrderClientEmail">Client Email</label>
    <input type="email" class="form-control" id="newOrderClientEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>